* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  background-color: teal;
  text-decoration-color: yellowgreen;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tries {
  color: aliceblue;
}

.newc {
  background-color: red;
  margin-top: 25px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.newc .tooltip {
  visibility: hidden;
  font-size: 10;
  width: 40;
  background-color: transparent;
  color: whitesmoke;
  text-align: right;
  border-radius: 2px;
  padding: 2px 25px;

  /* Position the tooltip */
  position: absolute;
  z-index: 5;
}

.newc:hover .tooltip {
  visibility: visible;
}

#container {
  background-color: black;
  height: 70vh;
}

.container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3,1fr);
}

.tile {
  height: 1fr;
  width: 1fr;
  background-color: aliceblue;
 }
